[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
pydantic = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
invoke = "*"
sqlalchemy = "*"
alembic = "*"
ipython = "*"  # to run console in production
returns = "*"
gunicorn = "*"
psycopg2 = "*"
celery = {extras = ["sqs"], version = "*"}
boto3 = "*"  # to connect to Amazon SQS
pycurl = "*"  # to connect to Amazon SQS
asyncio_redis = "*"  # to connect to Redis for PubSub over WebSocket in production

[dev-packages]
pytest = "*"
vcrpy = "*"
pytest-cov = "*"
pytest-asyncio = "*"
flake8 = "*"
radon = "*"
isort = "*"
black = "*"
regex = "==2021.10.21"  # to fix the library validation error of `black` when using Apple M1 devices
mypy = "*"
requests-mock = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
