[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
pydantic = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
invoke = "*"
sqlalchemy = "*"
alembic = "*"
returns = "*"

[dev-packages]
pytest = "*"
vcrpy = "*"
pytest-cov = "*"
flake8 = "*"
radon = "*"
black = "*"
regex = "==2021.09.30"
ipython = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
