[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
pydantic = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
invoke = "*"  # to run migrations in production
sqlalchemy = "*"
alembic = "*"
ipython = "*"  # to run console in production
returns = "*"
gunicorn = "*"
psycopg2-binary = "*"
celery = {extras = ["sqs"], version = "*"}
boto3 = "*"  # to connect to Amazon SQS
pycurl = "*"  # to connect to Amazon SQS
broadcaster = "==0.2.0"

[dev-packages]
pytest = "*"
vcrpy = "*"
pytest-cov = "*"
pytest-asyncio = "*"
flake8 = "*"
radon = "*"
isort = "*"
black = "*"
regex = "==2021.09.30"  # to fix the library validation error of `black`
mypy = "*"
requests-mock = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
